<% if(typeof errors!= 'undefined') { %>
    <%    errors.forEach(function(error){ %>
    <p> <%= error.msg %></p>
    <%    })        %>
    <% } %>

<!-- login message -->
<% if(success_msg!= '') { %>
    <p><%=success_msg %> </p>
    <% } %>

<!--  error flash messages -->
<% if(error_msg != '') { %>
    <%= error_msg %> 
  <% } %> 
  <% if(error != '') { %>
    <%= error %>
  <% } %>